@font-face {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/ColfaxAIRegular.otf");
}

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter/Inter-VariableFont.ttf");
}

body {
    font-family: 'Inter';
    height: 430px;
    width: 350px;
    font-size: 15px;
    font-weight: 400;
}

/* Header */
#headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 43px;
}

#headerLeft {
    margin-left: 12px;
    margin-top: 10px;
}

#headerRight {
    margin-right: 14px;
    margin-top: 10px;
}

#logo {
    height: 23px;
    width: 23px;
}

#appName {
    font-weight: 500;
    color: #555555;
    margin-left: 3px;
    font-size: 16px;
}

#closeBtn {
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 50%;
    transition-duration: 0.3s;
}

#closeBtn:hover {
    background-color: #EEEAF3;
}

/* Body of popup */
#bodyContainer {
    width: 100%;
    height: 100%;
    background-color: #EEEAF3;
    padding: 15px 26px 15px 26px;
}

#isTraining {
    display: none;
    margin-top: 3px;
}

.fieldHeader {
    color: #6d6d6d;
    font-weight: 300;
    margin-left: 5px;
    margin-top: 5px;
}

#maxLenTop {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    align-items: flex-end;
}

#maxLenInput {
    border:none;
    border-bottom: 2px solid #1890ff;
    margin-bottom: 3px;
    outline: none;
    background-color: #EEEAF3;
    width: 43px;
    height: 20px;
    text-align: right;
}

#maxLenRange {
    margin-top: 4px;
}

#textInput{
    resize: none;
}

#textInput::placeholder {
    color: #b5b3b3;
}

#statsAndClear {
    display: flex;
    justify-content: space-between;
}

#statsContainer {
    display: flex;
    margin-top: 7px;
}

#clearRight {
    display: flex;
    margin-top: 7px;
}

#tooLong {
    display: none;
    font-size: 13px;
    padding: 1px 4px;
    background-color: #DC3545;
    color: white;
    border-radius: 3.2px;
    height: 23.1px;
    margin-right: 4px;
}

#clearBtnContainer {
}

#clearBtn {
    padding: 1px 4px;
    font-size: 13px;
}

.tokenizer-stat {
    margin-left: 5px;
    margin-right: 15px;
    color: #555555;
    font-weight: 500;
}

.tokenizer-stat-value {
    font-size: 18px;
    font-weight: 500;
}

.pricing-stat {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    background-color: #267DFF;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px 10px;
}